   <!-- Trending Category Section -->
    <section id="trending-category" class="trending-category section">

      <div class="container">
        <div class="container">
          <div class="row g-5">
            <div class="col-lg-4">
              <app-single-tranding></app-single-tranding>
            </div>

            <div class="col-lg-8">
              <app-row>
                <div class="col-lg-4 border-start custom-border">
                  <app-photo-postentry-trending></app-photo-postentry-trending>
                  <app-photo-postentry-trending></app-photo-postentry-trending>
                  <app-photo-postentry-trending></app-photo-postentry-trending>
                </div>
                <div class="col-lg-4 border-start custom-border">
                  <app-photo-postentry-trending></app-photo-postentry-trending>
                  <app-photo-postentry-trending></app-photo-postentry-trending>
                  <app-photo-postentry-trending></app-photo-postentry-trending>
                </div>

                <!-- Trending Section -->
                <div class="col-lg-4">

                  <div class="trending">
                    <h3>Trending</h3>
                    <ul class="trending-post">
                      <app-text-post-trending></app-text-post-trending>
                      <app-text-post-trending></app-text-post-trending>
                      <app-text-post-trending></app-text-post-trending>
                      <app-text-post-trending></app-text-post-trending>
                    </ul>
                  </div>

                </div> <!-- End Trending Section -->
              </app-row>
            </div>

          </div> <!-- End .row -->
        </div>

      </div>

    </section><!-- /Trending Category Section -->

<app-category-trending-section></app-category-trending-section>
<app-category-trending-section></app-category-trending-section>
