<!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title">
        <div class="section-title-container d-flex align-items-center justify-content-between">
          <h2>Team</h2>
          <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div>
      </div><!-- End Section Title -->

      <div class="container">

        <app-row>
          <div class="col-lg-6">
            <app-team-member></app-team-member>
          </div><!-- End Team Member -->

          <div class="col-lg-6">
              <app-team-member></app-team-member>
          </div><!-- End Team Member -->

          <div class="col-lg-6">
              <app-team-member></app-team-member>
          </div><!-- End Team Member -->

          <div class="col-lg-6">
              <app-team-member></app-team-member>
          </div><!-- End Team Member -->

        </app-row>

      </div>

    </section><!-- /Team Section -->